<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label">Numbers</label>
            <div class="col-md-4">
                <select class="form-control" ng-model="numberVal">
                    <option ng-repeat="injectText in numberValues" value="{{injectText.value}}">
                        {{injectText.value}}   
                    </option>
                </select>
            </div>
            <button type="button" class="btn btn-default" ng-click="setAttack(field, numberVal)">Add</button>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Strings</label>
            <div class="col-md-4">
                <select class="form-control" ng-model="stringVal">
                    <option ng-repeat="injectText in stringValues" value="{{injectText.value}}">
                        {{injectText.value}}   
                    </option>
                </select>
            </div>
            <button type="button" class="btn btn-default" ng-click="setAttack(field, stringVal)">Add</button>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Dates</label>
            <div class="col-md-4">
                <select class="form-control" ng-model="dateVal">
                    <option ng-repeat="injectText in dateValues" value="{{injectText.value}}">
                        {{injectText.value}}   
                    </option>
                </select>
            </div>
            <button type="button" class="btn btn-default" ng-click="setAttack(field, dateVal)">Add</button>
        </div>

    </fieldset>
</form>