<!-- TODO: Add more details for request on button press to expand row-->
<div class="container">
    <!--<attack-selector field="attack"></attack-selector>-->
    <section>
        <div class="panel panel-default panel-top">
            <div class="panel-heading">History</div>
            <div class="panel-body">
                <div class="container" ng-if="historyList.length <= 0">
                    <h4>You have not yet made any requests, <a href="#">return home</a> to begin.</h4>      
                </div>
                <section ng-if="historyList.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-xs-1">Method</th>
                                <th class="col-xs-5">Request URL</th>
                                <th class="col-xs-2">Data</th>
                                <th class="col-xs-1">Status</th>
                                <th class="col-xs-2">Text</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="request in historyList track by $index">
                                <td>{{ request.method }}</td>
                                <td><a ng-click="viewResult(request)">{{ request.url }}</a></td>
                                <td>{{ request.data }}</td>
                                <td>{{ request.status }}</td>
                                <td>{{ request.text }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-toolbar" role="toolbar">
                        <button type="button" class="btn btn-danger" ng-click="clearHistory()">Clear</button>
                        <button type="button" class="btn btn-primary" ng-click="showMore(historyList.length)">Show More</button>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>